{{ form_start(form) }}
    {{ form_widget(form) }}

     <input type="button" id="select_file" value="Upload Image"
               class="{{ button_css|default("btn btn-primary") }}">

    <br>
    <br>

    <table role="presentation" class="table table-striped hidden" id="files">
        <tbody class="files">
            <tr class="template-upload">
                <td class="col-xs-3">
                    <div class="preview"></div>
                </td>
                <td class="col-xs-9">
                    <p class="name" id="file_name"></p>
                    <div id="progress" class="progress progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                    <p><a href="" id="remove_file">Remove</a></p>
                </td>
            </tr>
        </tbody>
    </table>

    <input type="submit" name="save" value="{{ button_label|default('label.create_post'|trans) }}"
           class="{{ button_css|default("btn btn-primary") }}" />

    <input type="hidden" name="fileid" id="file_id">

    {% if is_granted('publish', post) %}
            <input type="submit" name="publish" value="{{ 'label.publish_post'|trans }}"
                   class="{{ button_css|default("btn btn-success") }}" />
    {% endif %}

    {% if post.state is constant('STATUS_DRAFT', post) %}
        <input type="submit" name="review" value="{{ 'label.review_post'|trans }}"
               class="{{ button_css|default("btn btn-success") }}" />
    {% endif %}

    <a href="{{ path('admin_post_index') }}" class="btn btn-link">
        {{ 'action.back_to_list'|trans }}
    </a>

{{ form_end(form) }}

<input type="file" name="upload[file]" id="upload_file" accept="image/*" class="hidden" data-url="{{ path('image_upload') }}"/>

{% block javascripts %}
    <script src="{{ asset('js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('js/jquery.iframe-transport.js') }}"></script>
    <script>
        $(function () {
            $('#select_file').click(function(){
                $('#upload_file').click();
            });

            $('#remove_file').click(function(e){
                debugger;
                e.preventDefault();
                $.ajax({
                    url: $(this).attr('href'),
                    method: "DELETE"
                });
            });

            $('#upload_file').fileupload({
                dataType: 'json',
                singleFileUploads: false,
                limitMultiFileUploads: 1,
                maxNumberOfFiles: 1,
                autoUpload: true,
                add: function (e, data) {
                    $('#files').toggleClass('hidden');
                    data.submit();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                },
                done: function (e, data) {
                    $('#select_file').attr({disabled: true});
                    $('#file_name').text(data.result.name);
                    $('#file_id').val(data.result.id);
                    $('#remove_file').attr('href', data.result.deleteUrl);
                    $('<img/>').attr({
                        src: data.result.url,
                        title: data.result.name,
                        class: "thumbnail",
                        style: "width: 100%; min-width: 100px; max-width: 200px"
                    }).appendTo('.preview');
                }
            });
        });
    </script>

    {{ tinymce_init() }}
{% endblock %}
